/* BASIC */

html {
    background-color: #56baed;
}

body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    background-color: #1D1D1D;
}

a {
    color: #92badd;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
}

h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin: 40px 8px 10px 8px;
    color: #cccccc;
}


/* STRUCTURE */

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: #1D1D1D;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}

#formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}


/* TABS */

h2.inactive {
    color: #cccccc;
}

h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
}


/* FORM TYPOGRAPHY*/

input[type=button],
input[type=submit],
input[type=reset] {
    outline: 0;
    background-color: #212121;
    border: 1px solid #333337;
    color: #e64f4f;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    padding: 15px 80px;
    display: inline-block;
    text-transform: uppercase;
    margin: 5px 20px 40px 20px;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
    border-color: #e64f4f;
    background-color: #212121;
}

input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active {
    border: 1px solid #333337;
}

input[type=text] {
    outline: 0;
    margin: 10px;
    background-color: #212121;
    border: 1px solid #333337;
    color: #e64f4f;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    padding: 15px 32px;
    display: inline-block;
    font-size: 25px;
    width: 85%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

input[type=text]:focus {
    border-color: #e64f4f;
    background-color: #212121;
}

input[type=text]:placeholder {
    color: #cccccc;
}


/* Simple CSS3 Fade-in Animation */

.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #0d0d0d;
}

.underlineHover:hover:after {
    width: 100%;
}


/* OTHERS */

*:focus {
    outline: none;
}

#icon {
    width: 60%;
}